@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --background-primary: #212121;
  --background-secondary: #121212;
  --background-accent: #303030;
  --color-primary: #f0f0f0;
  --color-secondary: #aaa;
}

body {
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
